<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://uploads.turbologo.com/uploads/design/preview_image/4551835/preview_image20211224-8647-1g7dld3.png" alt="Brand Image" height="50" width="60">
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/anime">Animes</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Genres
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/anime/genre/romance">Romance</a>
                <a class="dropdown-item" href="/anime/genre/comedy">Comedy</a>
                <a class="dropdown-item" href="/anime/genre/seinen">Seinen</a>
                <a class="dropdown-item" href="/anime/genre/isekai">Isekai</a>
                <a class="dropdown-item" href="/anime/genre/mecha">Mecha</a>
                <a class="dropdown-item" href="/anime/genre/sports">Sports</a>
                <a class="dropdown-item" href="/anime/genre/psychological">Psychological</a>
                <a class="dropdown-item" href="/anime/genre/horror">Horror</a>
                <a class="dropdown-item" href="/anime/genre/adventure">Adventure</a>
                <a class="dropdown-item" href="/anime/genre/scifi">SciFi</a>
                <a class="dropdown-item" href="/anime/genre/slice-of-life">Slice of Life</a>
                <a class="dropdown-item" href="/anime/genre/shoujo">Shoujo</a>
                <a class="dropdown-item" href="/anime/genre/shonen">Shonen</a>
            </div>
        </li>
        <%if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/anime/new">Add Anime</a>
          </li>
        <% } %>

        <% if(user) {%>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>

        <% } else {%>

          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          
        <% } %>
        
    </ul>
      <!-- <form class="form-inline my-2 my-lg-0" action="/anime/search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="term">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    <% if(user) { %>
      <div class="navbar-item"><%= user.username %></div>
    <% } %>
  </nav>
  <div class="container mt-2">
    
    <% if (successMessage && successMessage.length > 0) { %>
      <div class="alert alert-success fade show" role="alert">
        <%= successMessage %>
        <button type="button" class="close alert-dismissable" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"> &times; </span>
        </button>
      </div>
    <% } %>

    <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="alert alert-warning fade show" role="alert">
        <%= errorMessage %>
        <button type="button" class="close alert-dismissable" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"> &times; </span>
        </button>
      </div>
    <% } %>
  </div>