<%- include('partials/header') %>

<div class="container d-flex flex-column align-items-center mt-5 landing">
    <div class="landing-images">
        <% anime.forEach(anm => { %>
            <img src="<%= anm.image %>" alt="">
            <% }) %>
        </div>

    <button><a href="/anime">Go To Anime Page</a></button>
</div>

<%- include('partials/footer') %>